body {

    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(198, 229, 255);
    font-family: 'Dosis', sans-serif;
}

body,
header,
nav,
footer {
    margin: 1.25rem auto;
    max-width: 760px;

}

header {
    background-color: #000653;
    color: white;
    text-align: center;
    padding: 1.0rem;
}

header img {
    float: right;
    margin: 15px;
    width: 190px;
    height: auto;
}

h3 {
    padding-left: 10px;
}

footer {
    background-color: #000653;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}